{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/Sumafilmyarts-banner-1920x300.png' %}" style="background-image: url(&quot;assets/img/bg/bread-bg.jpg&quot;);">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>Apply</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Apply</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->

<!--Contact page section start-->
<section id="bi-career-details" class="bi-career-details-section inner-page-padding">
    <div class="container">
        <div class="bi-portfolio-details-content">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bi-career-details-text-area">
                        <div class="bi-career-details-img">
                            <img src="{% static 'assets/img/portfolio/prd.png' %}" alt="">
                        </div>
                        <div class="bi-career-details-text headline pera-content ul-li-block">
                            <h3>UI/UX &amp; Product Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a libero maximus, rhoncus ex vel, suscipit velit. Donec in interdum nisl. Curabitur fringilla turpis sed nulla auctor, laoreet mollis sem maximus.</p>
                            <p>Suspendisse laoreet feugiat accumsan. Sed mollis, augue a ultrices convallis, dolor metus eleifend nulla, at efficitur lacus nisi sit amet est. Morbi rutrum ullamcorper orci eu auctor. In hac habitasse platea dictumst. Integer venenatis eu arcu et convallis. Vestibulum in lacinia sem, quis aliquet turpis. Fusce bibendum posuere velit, ut auctor leo aliquam vel. Suspendisse ut pharetra urna. Duis ultricies odio ullamcorper, tempor enim id, volutpat nunc. In tellus erat, pellentesque ut erat at, suscipit pharetra mauris. Proin gravida dictum lectus, sed bibendum mauris elementum non. Pellentesque mi erat, pulvinar sed rhoncus id, euismod non turpis.</p>
                            <p>Suspendisse a libero maximus, rhoncus ex vel, suscipit velit. Donec in interdum nisl. Curabitur fringilla turpis sed nulla auctor, laoreet mollis sem maximus. Suspendisse laoreet feugiat accumsan. Sed mollis, augue a ultrices convallis, dolor metus eleifend nulla, at efficitur lacus nisi sit amet est. Morbi rutrum ullamcorper orci eu auctor. In hac habitasse platea dictumst. Integer venenatis eu arcu et convallis. Vestibulum in lacinia sem, quis aliquet turpis. Fusce bibendum posuere velit, ut auctor leo aliquam vel.</p>
                            <h4>Job Responsibilities</h4>
                            <p>Donec in interdum nisl. Curabitur fringilla turpis sed nulla auctor, laoreet mollis sem maximus. Suspendisse laoreet feugiat accumsan. Sed mollis, augue a ultrices convallis, dolor metus eleifend nulla, at efficitur lacus nisi sit amet est. Morbi rutrum ullamcorper orci eu auctor. In hac habitasse platea dictumst. Integer venenatis eu arcu et convallis. Vestibulum in lacinia sem, quis aliquet turpis.</p>
                            <ul>
                                <li>Work with BAs, product managers and tech teams to lead the Product Design</li>
                                <li>Accurately estimate design tickets during planning sessions.</li>
                                <li>Contribute to sketching sessions involving non-designersCreate, and pattern libraries.</li>
                                <li>Interface patterns is better for UX than reinventing the wheel</li>
                            </ul>
                            <h4>Skills &amp; Qulifications</h4>
                            <ul>
                                <li>We don't care about the degrees but as a mid-level designer, we expect that you have a minimum of 5 - 8 years of Job experience.</li>
                                <li>Expertise in design tools </li>
                                <li>Readability of the project documentation &amp; ability to design regarding this.</li>
                                <li>Good Portfolio Must.</li>
                                <li>Good attention to detail, time management, is self-motivated, and takes ownership of responsibilities.</li>
                                <li>Ability to work fast and deliver projects on time.</li>
                            </ul>
                            <h4>Benefits</h4>
                            <ul>
                                <li>Due time salary.</li>
                                <li>2 Festive bonus after completing 6 months.</li>
                                <li>Yearly Tour.</li>
                                <li>Performance / Project Bonus.</li>
                                <li>Monthly Best Employees Bonus.</li>
                                <li>Yearly Salary Review.</li>
                                <li>16 Days Paid Leave (Sick and Casual).</li>
                                <li>Opportunity To Learn &amp; Grow.</li>
                            </ul>
                            <h4>Salary Range</h4>
                            <div class="salary-limit">$15000 USD - 20000 USD</div>
                            <div class="bi-btn-3 text-center text-uppercase">
                                <a href="#">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bi-portfolio-sidebar headline ul-li-block">
                        <h3>Job Summery </h3>
                        <ul>
                            <li>
                                <span class="title">Firstname:</span>
                                <span class="info"></span>
                            </li>
                            <li>
                                <span class="title">Lastname:</span>
                                <span class="info"></span>
                            </li>
                            <li>
                                <span class="title">Email:</span>
                                <span class="info"></span>
                            </li>
                            <li>
                                <span class="title">Phonenumber:</span>
                                <span class="info"></span>
                            </li>
                            <li>
                                <span class="title">Work Experience:</span>
                                <!-- <select>
                                    <option selected="">Work Experinces</option>
                                    <option>1 - 2 years</option>
                                    <option>2 - 4 years</option>
                                    <option>4 - 7 years</option>
                                    <option>7 - 10 years</option>
                                </select> -->
                            </li>
                            
                            <!-- <li>
                                <span class="title">Age:</span>
                                <span class="info">18 to 40 Years</span>
                            </li> -->
                            <!-- <li>
                                <span class="title">Working Time:</span>
                                <span class="info">08:00 AM to 06:00 PM</span>
                            </li> -->
                            <!-- <li>
                                <span class="title">Deadline:</span>
                                <span class="info">20 June, 2023</span>
                            </li> -->
                        </ul>
                        <div class="bi-btn-3 text-center text-uppercase">
                            <a href="#">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact page section end-->

{% endblock %}