{% load static %}
<!Doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suma Filmy Arts</title>
    <meta name="description" content="Haptic - Web And Agency HTML Template">
    <meta name="keywords" content="agency, app, business, company, corporate, designer, freelance, fullpage, modern, office, personal, portfolio, professional, web, web agency">
    <meta name="author" content="Themexriver">
    <link rel="shortcut icon" href="{% static 'assets/img/logo/sumafilmyarts-favicon.png' %}" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'assets/css/suresh.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon_aina.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/collaboration/collaboration.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">




</head>

<body class="home-6">
    <div id="preloader"></div>
    <div class="cursor"></div>
    <!-- mobile-menu-start -->
    <div class="sidemenu-area sidemenu_1_active">

        <!-- close-btn -->
        <div class="sidemenu-close-btn sidemenu_close_btn">
            <i class="far fa-chevron-left"></i>
        </div>

        <!-- profile -->
        <div class="sidemenu-profile mb-30 is_show">
            <div class="img">
                <img src="{% static 'assets/img/logo/sumafilmyart-logo.png' %}" alt="">
            </div>
           
        </div>

        <div class="h1-sidebar-menu">
            <div class="sidebar-menu ul-li-block">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><a href="/about/" >About us</a></li>
					<li><a href="/portfolio/" >Portfolio</a></li>
                    <li class="dropdown">
                        <a href="#">Connect With Us</a>
                        <ul class="dropdown-menu clearfix">
                            <li><a href="/collaborate/" >Collaborations</a></li>
                            <li><a href="/sponsorship/" >Sponsorship</a></li>
                            <li><a href="/enquiries/" >Enquiries</a></li>
                            <li><a href="/youridea/" >Your Ideas</a></li>
                        </ul>
                    </li>
					<li><a href="/newsevents/" >News & Events</a></li>
					<li><a href="/blog/" >Blogs</a></li>
					<li><a href="/career/" >Careers</a></li>

                </ul>
            </div>
        </div>

        <!-- mobile-menu -->
        <div class="sidebar-mobile-menu-wrap is_show">
            <div class="mobile_menu">

            </div>
        </div>

        <!-- social-link -->
        <div class="sidemenu-social-link mb-30 is_show">
            <h6 class="title">connect Social</h6>
            <ul>
                <li>
                    <a href="https://www.facebook.com/SumaFilmyArts/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <!-- <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </li> -->
                <li>
                    <a href="https://www.instagram.com/suma_filmy_arts/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/suma-filmy-arts/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
        </div>

        <!-- contact-info -->
        <div class="sidemenu-contact-info is_show">
            <h6 class="title">Contact Information</h6>
            <div class="info-box-wrap">
                <!-- <div class="info-box">
                    <h6 class="title"><i class="fas fa-phone"></i>Phone</h6>
                    <p>+91 888 578 2778</p>
                </div> -->
                <div class="info-box">
                    <h6 class="title"><i class="fas fa-envelope"></i>Email</h6>
                    <p>example@gmail.com</p>
                </div>
                <!-- <div class="info-box">
                    <h6 class="title"><i class="fas fa-map-marker-alt"></i>Address</h6>
                    <p>DT7solutions, Inner Ring Road, Guntur</p>
                </div> -->
            </div>
        </div>

    </div>

    <div class="offcanvas-overlay"></div>
    <!-- mobile-menu-end -->

    <!-- header-start -->
    <header> 
        <div class="hpt-header-1-area header-1-transparent sticky_header_1">
            <div class="hpt-header-1-wrap">
                <div class="container h1-container">
                    <div class="hpt-header-1-content">

                        <!-- header-logo -->
                        <a class="hpt-header-1-logo" href="/">
                            <img src="{% static 'assets/img/logo/sumafilmyart-logo.png' %}" alt="logo" height="150px" width="100px">
                        </a>

                        <!-- header-action -->
                        <div class="hpt-header-1-action">
                            <!-- mobile-menu-button -->
                            <button class="hpt-menu-btn-1 menu_toggle_1">
                                <i class="fal fa-bars"></i>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
	


	{% block content %}
    
	{% endblock %}
  

    

    <footer class="hpt-footer-section" data-background="">

        <div class="hpt-footer-widget-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="hpt-footer-widget headline pera-content ul-li-block">
                           
                            <div class="about-widget">
                                <a href="/"><img src="{% static 'assets/img/logo/sumafilmyart-logo.png' %}" alt=""  width="150" height="150"></a>
                               
                            </div>
                            <div class="footer-text">
                                <p>
                                    No matter how big your company is, as you expand and reach new highs you’ll want an agency to have your back. One with a process
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="hpt-footer-widget headline pera-content ul-li-block">
                            <div class="menu-widget">
                                <h3 class="widget-title">Quick Links</h3>
                                <ul>
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/portfolio/">Portfolio</a></li>
                                    <li><a href="/newsevents/">News & Events</a></li>
                                    <li><a href="/blog/">Blogs</a></li>
                                    <li><a href="/career/">Careers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-4 footer-content-text">
                        <div class="hpt-footer-widget headline pera-content ul-li-block">
                            <div class="menu-widget">
                                <h3 class="widget-title">Connect With Us</h3>
                                <ul>
                                    <li><a href="/collaborate/">Collaboration</a></li>
                                    <li><a href="/sponsorship/">Sponsorships</a></li>
                                    <li><a href="/enquiries/">Enquiries</a></li>
                                    <li><a href="/youridea/">Your Idea</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="hpt-footer-widget headline pera-content ul-li-block">
                            <div class="menu-widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <ul>
                                    <li><a href="https://www.linkedin.com/company/suma-filmy-arts" target="_blank">Linkedin</a></li>
                                    <li><a href="https://www.facebook.com/SumaFilmyArts/" target="_blank">Facebook</a></li>
                                    <li><a href="https://www.instagram.com/suma_filmy_arts" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <div class="hpt-footer-social">
            <div class="container h1-container">
                <div class="hpt-footer-social-content ul-li">
                    <ul>
                         <li><a href="#"><i class="fal fa-basketball-ball"></i> Dribbble </a></li> -->
                        <!-- <li><a href="#"><i class="fab fa-behance-square"></i>  Behance  </a></li> -->
                        <!-- <li><a href="https://www.facebook.com/SumaFilmyArts/"><i class="fab fa-facebook-f"></i> Facebook  </a></li> -->
                        <!-- <li><a href="https://www.instagram.com/suma_filmy_arts/"><i class="fab fa-instagram"></i> Instagram  </a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/company/suma-filmy-arts/"><i class="fab fa-linkedin-in"></i> Linked In   </a></li> -->
                        <!-- <li><a href="#"><i class="fab fa-youtube"></i> Youtube </a></li> -->
                    <!-- </ul> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->

      <div class="footer-copy d-flex justify-content-evenly">
        <div class="hpt-footer-copyright">
            &copy;Copyright 2023 Sumafilmyarts 
        </div>
        <div class="hpt-footer-copyright"> 
            <a href="https://dt7solutions.com/" target="_blank" class="ps-1" style="text-align: justify;"> Designed by  Dt7 Solutions </a> | All Rights Reserved
        </div>
    </div>

    </footer>	



    <div class="popup-search-box search_1_popup_active">
        <div class="container">
            <h4 class="title">find what you need</h4>
            <div class="popup-search-box-form">
                <form action="#">
                    <div class="popup-search-box-input">
                        <input type="text" placeholder="Search...">
                    </div>
                    <button type="submit"><i class="fal fa-search"></i></button>
                </form>
                <button class="popup-search-box-close-action-btn search_1_popup_close"><i class="fal fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="cart_sidebar">
        <div class="cart_sidebar_top">
            <h2 class="heading_title">Cart</h2>
            <button type="button" class="cart_close_btn tx-close"></button>
        </div>
        <div class="cart_items_list">
            <div class="cart_item">
                <div class="item_image">
                    <img src="{% static 'assets/img/new_home/product-img/s_img1.jpg' %}" alt="image_not_found">
                </div>
                <div class="item_content headline">
                    <h4 class="item_title">
                        Rorem ipsum dolor sit amet.
                    </h4>
                    <span class="item_price">$19.00</span>
                    <button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
                </div>
            </div>
            <div class="cart_item">
                <div class="item_image">
                    <img src="{% static 'assets/img/new_home/product-img/s_img2.jpg' %}" alt="image_not_found">
                </div>
                <div class="item_content headline">
                    <h4 class="item_title">
                        Rorem ipsum dolor sit amet.
                    </h4>
                    <span class="item_price">$22.00</span>
                    <button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
                </div>
            </div>
            <div class="cart_item">
                <div class="item_image">
                    <img src="{% static 'assets/img/new_home/product-img/s_img3.jpg' %}" alt="image_not_found">
                </div>
                <div class="item_content headline">
                    <h4 class="item_title">
                        Rorem ipsum dolor sit amet.
                    </h4>
                    <span class="item_price">$43.00</span>
                    <button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
                </div>
            </div>
            <div class="cart_item">
                <div class="item_image">
                    <img src="{% static 'assets/img/new_home/product-img/s_img4.jpg' %}" alt="image_not_found">
                </div>
                <div class="item_content headline">
                    <h4 class="item_title">
                        Rorem ipsum dolor sit amet.
                    </h4>
                    <span class="item_price">$14.00</span>
                    <button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
                </div>
            </div>
        </div>
        <div class="cart_sidebar_bottom">
            <div class="total_price">
                <span>Sub Total:</span>
                <span>$87.00</span>
            </div>
            <div class="cart_sidebar_button">
                <a href="#">View Cart</a>
                <a href="#">Checkout</a>
            </div>
        </div>
    </div>


    <div class="scroll-top">
        <div class="scroll-top-wrap">
            <i  class="icon-1 fal fa-long-arrow-up"></i>
            <i class="fal icon-2 fa-spinner fa-pulse"></i>
        </div>
    </div>


    <!-- JS here -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/appear.js' %}"></script>
    <script src="{% static 'assets/js/counter.js' %}"></script>
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/knob.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollSmoother.min.js' %}"></script>
    <script src="{% static 'assets/js/SplitText.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.filterizr.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/hover-revel.js' %}"></script>
    <script src="{% static 'assets/js/split-type.min.js' %}"></script>
    <script src="{% static 'assets/js/parallax-scroll.js' %}"></script>
    <script src="{% static 'assets/js/jquery.marquee.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'assets/js/tilt.jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/matter.min.js' %}"></script>
    <script src="{% static 'assets/js/home-6.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/collaboration/collaboration.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> 

</body>
</html>