{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/Sumafilmyarts-banner-1920x300.png' %}" style="background-image: url(&quot;assets/img/bg/bread-bg.jpg&quot;);">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>Career Details</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Career Details</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->

{% if careerposts %}
<!--Contact page section start-->
<section id="bi-career-details" class="bi-career-details-section inner-page-padding">
    <div class="container">
        <div class="bi-portfolio-details-content">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bi-career-details-text-area">
                        <div class="bi-career-details-img">
                        <img src="/media/{{careerposts.Image2}}" alt="">
                        </div>
                        <div class="bi-career-details-text headline pera-content ul-li-block">
                           {{careerposts.Body}}
                            <!-- <h4>Salary Range</h4>
                            <div class="salary-limit">$15000 USD - 20000 USD</div> -->
                            <div class="bi-btn-3 text-center text-uppercase pt-4">
                                <a href="/applyjobform/">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bi-portfolio-sidebar headline ul-li-block">
                        <h3>Job Summery </h3>
                        <ul>
                            <li>
                                <span class="title">Location :</span>
                                <span class="info">{{careerposts.location}}</span>
                            </li>
                            <li>
                                <span class="title">Job Title:</span>
                                <span class="info">{{careerposts.job_title}}</span>
                            </li>
                            <li>
                                <span class="title">Experience:</span>
                                <span class="info">{{careerposts.experience}}</span>
                            </li>
                            <li>
                                <span class="title">Gender:</span>
                                <span class="info">{{careerposts.gender}}</span>
                            </li>
                            <li>
                                <span class="title">Age:</span>
                                <span class="info">{{careerposts.age}}</span>

                                <!-- <select>
                                    <option selected="">Work Experinces</option>
                                    <option>1 - 2 years</option>
                                    <option>2 - 4 years</option>
                                    <option>4 - 7 years</option>
                                    <option>7 - 10 years</option>
                                </select> -->
                            </li>
                            
                            <!-- <li>
                                <span class="title">Age:</span>
                                <span class="info">18 to 40 Years</span>
                            </li> -->
                            <li>
                                <span class="title">Working Time:</span>
                                <span class="info">{{careerposts.workingtime}}</span>
                            </li>
                            <li>
                                <span class="title">Deadline:</span>
                                <span class="info">{{careerposts.dead_line}}</span>
                            </li>
                        </ul>
                        <!-- <div class="bi-btn-3 text-center text-uppercase">
                            <a class="px-3 py-2" href="">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact page section end-->
{% endif %}






<!--Contact page section start-->
<!-- <section id="bi-career-details" class="bi-career-details-section inner-page-padding">
    <div class="container">
        <div class="bi-portfolio-details-content">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bi-career-details-text-area">
                        <div class="bi-career-details-img">
                            <img src="{% static 'assets/img/portfolio/prd.png' %}" alt="">
                        </div>
                        <div class="bi-career-details-text headline pera-content ul-li-block">
                            <h5>Company Description</h5>
                            <p>Suma Filmy Arts is a leading production company that serves as a home to some of India’s biggest entertaining TV shows through our versatile, and stress-busting content. We are looking for talented creative writers to join our team and help bring our stories to life.

                                As a creative writer at Suma Filmy Arts, you will have the opportunity to showcase your talent and turn your ideas into reality. We are looking for individuals who are passionate about storytelling and have a strong sense of visual media.</p>
                            
                            <h5>Responsibilities:</h5>
                            <p>Develop and write compelling stories, scripts, short films, and content for a variety of projects majorly skits, content & short films.</p>
                            <p>Collaborate with other writers, directors, and producers to bring projects to life</p>
                            <p>Collaborate with other writers, directors, and producers to bring projects to life</p>  
                            <p>Conduct research to ensure accuracy and authenticity in storytelling</p>
                            <p>Edit and revise written material as necessary</p>
                            <p>Stay up-to-date with industry trends and emerging technologies to continually improve your craft</p>

                            <h5>Requirements:</h5>
                            <ul>
                                <li>Proven experience as a story writer, scriptwriter, short film writer, or content writer</li>
                                <li>Excellent writing, communication, and collaboration skills</li>
                                <li>Strong attention to detail and ability to work under tight deadlines</li>
                                <li>A passion for storytelling and visual media</li>
                                <li>This is a full-time job opportunity for creative individuals who are passionate about storytelling and have a strong sense of visual media. If you are a talented writer looking for an exciting opportunity to work with a dynamic and growing production company, then we encourage you to apply today.</li>
                                <li>Note:Please note that this is not a role for serial or movie script/story writers.</li>
                            </ul>
                            <h4>Salary Range</h4>
                            <div class="salary-limit">$15000 USD - 20000 USD</div> -->
                            <!-- <div class="bi-btn-3 text-center text-uppercase">
                                <a href="/applyjobform/">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bi-portfolio-sidebar headline ul-li-block">
                        <h3>Job Summery </h3>
                        <ul>
                            <li>
                                <span class="title">Location :</span>
                                <span class="info">Hyderabad</span>
                            </li>
                            <li>
                                <span class="title">Job Title:</span>
                                <span class="info">Full Time Work</span>
                            </li>
                            <li>
                                <span class="title">Experience:</span>
                                <span class="info">3-5 Years</span>
                            </li>
                            <li>
                                <span class="title">Gender:</span>
                                <span class="info">Both Males are allowed to apply</span>
                            </li>
                            <li>
                                <span class="title">Age:</span>
                                <span class="info">18 to 40 Years</span> -->

                                <!-- <select>
                                    <option selected="">Work Experinces</option>
                                    <option>1 - 2 years</option>
                                    <option>2 - 4 years</option>
                                    <option>4 - 7 years</option>
                                    <option>7 - 10 years</option>
                                </select> -->
                            </li>
                            
                            <!-- <li>
                                <span class="title">Age:</span>
                                <span class="info">18 to 40 Years</span>
                            </li> -->
                            <!-- <li>
                                <span class="title">Working Time:</span>
                                <span class="info">08:00 AM to 06:00 PM</span>
                            </li>
                            <li>
                                <span class="title">Deadline:</span>
                                <span class="info">20 June, 2023</span>
                            </li>
                        </ul> -->
                        <!-- <div class="bi-btn-3 text-center text-uppercase">
                            <a href="#">Apply Now<i class="fas fa-long-arrow-right"></i></a>
                        </div> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--Contact page section end-->

{% endblock %}