{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/Sumafilmyarts-banner-1920x300.png' %}">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>Collaborations</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Collaborations</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->

<!--Contact page section start-->
<section id="bi-job-apply" class="bi-job-apply-section inner-page-padding">
    <div class="container">
        <div class="bi-section-title-1 bi-section-heading-title text-center headline pera-content">
            <h3 class="headline-title" style="perspective: 400px;"><div style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 425px 40px; transform: translate3d(0px, 0px, 0px); opacity: 1;"> Get in touch with us to combine forces and deliver content. </div></h3>
        </div>
        <div class="bi-team-details-contact-info headline pera-content">
            <div class="bi-team-details-contact-title">
                <div class="bi-team-details-contact-form">
                    <h6 class="text-center pb-3">Schedule A Call : Our team will contact you within 24 hours to 48 hours.</h6>
                    <form action="#" method="post" class="collaborationform" id="collaborationform" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class=" col-md-6">
                                <input type="text" name="firstname" id="firstname"  placeholder="First Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="lastname" id="lastname"  placeholder="Last Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="phone" id="phone" placeholder="Phonenumber" required> 
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="brand" id="brand" placeholder="Name Of Brand/Agency" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="industry" id="industry" placeholder="Industry" required>
                            </div>
                            <!-- <div>
                                <label for=""><h5>Kind of collaborations</h5></label>
                            </div> -->
                
                            <div class="question ">
                                <div class=" h5  ch-box" ><b>Kind of collaboration?</b></div>
                                <div>
                                   
                                    <label for="Instagram" class="script ">Instagram
                                        <input type="checkbox" id="Instagram" name="check" value="Instagram">
                                        <span class="geekmark"></span>
                                    </label>

                                    <label for="Youtube" class="script">Youtube
                                        <input type="checkbox" id="Youtube" name="check" value="Youtube">
                                    </label>

                                    <label for="YoutubeReel" class="script"> YoutubeReel
                                        <input type="checkbox" id="YoutubeReel" name="check" value="YoutubeReel">
                                    </label>
                                    <label for="FaceBook" class="script"> FaceBook
                                        <input type="checkbox" id="FaceBook" name="check" value="FaceBook">
                                    </label>
                                    <label for="Other" class="script"> Other
                                        <input type="checkbox" id="Other" name="check" value="Other"  onchange="yesnoCheck(this);">
                                    </label>
                                </div>

                                <div class="col-12" id="ifYes1">
                                    <input type="text" name="ifYes" class="form-control" id="ifYes"
                                        placeholder="write detail what are looking for">
                                </div>
                            </div>

                            <div class="col-md-12 col-12 pb-3 pt-3">
                                <div class="col-12 pt-2">
                                    <label for="file" class="custom-file-upload" id="choose-file-label">
                                        Upload file
                                     </label>
                                     <input name="file" type="file" id="file" 
                                        accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" />
                                </div>
                                <span class="fileupload-req text-danger" style="font-size: small;" >please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                            </div>
                                
                            <!-- <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha px-3 mb-2" data-sitekey="6LfvVUskAAAAAGlwyp52_FaIJu4vaTuJQ7RiGOJd" required></div> -->

                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button class="button-list"  id="collaboration-submit">send</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact page section end-->

{% endblock %}