{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
  <!-- hero-start -->
<!-- Start of Slider section
	============================================= -->
	<section id="bi-slider" class="bi-slider-section">	
		<div class="bi-main-slider-section position-relative">
			<div class="bi-main-slider-area position-relative"  data-background="{% static ' assets/img/slider/slide1.png' %}">
				<div class="bi-main-slider swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide bg-dark">
							<div class="bi-main-slide-item position-relative">
								<div class="container">
									<div class="bi-main-slide-text-img-content d-flex align-items-end">
										<div class="bi-slide-img-area position-relative">
											<div class="bi-slide-img">
												<img src="{% static 'assets/img/slider/sumafilmyart-slide1.png' %}" alt="">
											</div>
											
										</div>
										<div class="bi-slide-text-area headline ul-li-block">
											<h1>smooth1</h1>
											<h2 class="b-strock-font">
											Development</h2>
											<ul>
												<li>Digital Marketing</li>
												<li>Quality Designs</li>
												<li>Mobile Solutions</li>
											</ul>
											<div class="bi-btn-1 bi-btn-area text-uppercase">
												<a class="bi-btn-main  bi-btn-hover bi-btn-item" href="service.html">  <span></span> Get Services</a>
											</div>
										</div>
									</div>
								</div>
								<span class="side-shape position-absolute"><img src="{% static 'assets/img/slider/slide_shape_4.png' %}" alt=""></span>
							</div>
						</div>
						<div class="swiper-slide bg-warning">
							<div class="bi-main-slide-item position-relative">
								<div class="container">
									<div class="bi-main-slide-text-img-content d-flex align-items-end">
										<div class="bi-slide-img-area position-relative">
											<div class="bi-slide-img">
												<img src="{% static 'assets/img/slider/sumafilmyart-slide1.png' %}" alt="">
											</div>
											
										</div>
										<div class="bi-slide-text-area headline ul-li-block">
											<h1>Smooth2</h1>
											<h2 class="b-strock-font">
											Development</h2>
											<ul>
												<li>Digital Marketing</li>
												<li>Quality Designs</li>
												<li>Mobile Solutions</li>
											</ul>
											<div class="bi-btn-1 bi-btn-area text-uppercase">
												<a class="bi-btn-main  bi-btn-hover bi-btn-item" href="service.html">  <span></span> Get Services</a>
											</div>
										</div>
									</div>
								</div>
								<span class="side-shape position-absolute"><img src="{% static 'assets/img/slider/slide_shape_4.png' %}" alt=""></span>
							</div>
						</div>
						<div class="swiper-slide bg-danger">
							<div class="bi-main-slide-item position-relative">
								<div class="container">
									<div class="bi-main-slide-text-img-content d-flex align-items-end">
										<div class="bi-slide-img-area position-relative">
											<div class="bi-slide-img">
												<img src="{% static 'assets/img/slider/sumafilmyart-slide1.png' %}" alt="">
											</div>
											
										</div>
										<div class="bi-slide-text-area headline ul-li-block">
											<h1>Smooth3</h1>
											<h2 class="b-strock-font">
											Development</h2>
											<ul>
												<li>Digital Marketing</li>
												<li>Quality Designs</li>
												<li>Mobile Solutions</li>
											</ul>
											<div class="bi-btn-1 bi-btn-area text-uppercase">
												<a class="bi-btn-main  bi-btn-hover bi-btn-item" href="service.html">  <span></span> Get Services</a>
											</div>
										</div>
									</div>
								</div>
								<span class="side-shape position-absolute"><img src="{% static ' assets/img/slider/slide_shape_4.png' %}" alt=""></span>
							</div>
						</div>
					</div>
				</div>
				<div class="bi-carousel-arrow-next-prev  position-absolute">
					<div class="bi-slider-arrow d-flex justify-content-center align-items-center bi-main-button-prev"><i class="far fa-long-arrow-left"></i></div>
					<div class="bi-slider-arrow d-flex justify-content-center align-items-center bi-main-button-next"><i class="far fa-long-arrow-right"></i></div>
				</div>
			</div>
		</div>
	</section>
<!-- nd of Slider  section -->
<!-- hero-end -->


<!-- about section start-->
<section id="bi-about-3" class="bi-about-section-3 position-relative bg-light">
	<span class="bi-shape-anim anim_1 position-absolute"><img src="{% static 'assets/img/icon/is5.png' %}" alt=""></span>
	<span class="bi-shape-anim anim_2 position-absolute" data-parallax="{&quot;y&quot; : -60, &quot;rotateY&quot;:800}"><img src="{% static 'assets/img/icon/is6.png' %}" alt=""></span>
	<span class="bi-shape-anim anim_3 position-absolute" data-parallax="{&quot;y&quot; : 60, &quot;rotateY&quot;: -800}"><img src="{% static 'assets/img/icon/is7.png' %}" alt=""></span>
	<div class="container">
		<div class="bi-about-content-3">
			<div class="row">
				<div class="col-lg-5">
					<div class="bi-about-text-area-3">
						<div class="bi-section-title-3 headline pera-content">
							<!-- <div class="bi-subtitle text-uppercase wow fadeInRight " data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
								About us
							</div> -->
							<p class=" wow fadeInLeft" style="perspective: 400;">
								Suma Filmy Arts is one of the top production houses in the television industry. Led by Suma Kanakala, renowned Indian television presenter and producer, our debut production, the gameshow Bhale Chance le, was a huge hit. Energised by the success, more such innovative ideas were nurtured under the wisdom of Suma Filmy Arts culminating in TV shows F3, Wife Chethilo Life, a comedy web series - House of Hungama and entertainment channels Jujube TV & Suma Kanakala, which translated into an atmosphere of unbound joy in millions of households.
							</p>
							
						</div>
					
					</div>
				</div>
				<div class="col-lg-7">
					<div class="bi-about-img-3  position-relative">
						<div class="about-img bi-img-animation active">
							<img src="{% static 'assets/img/about/ab6.jpg' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bi-about-video-play-area position-relative">
			<!-- <div class="bi-about-exp-area position-absolute headline text-center wow zoomIn" data-wow-delay="500ms" data-wow-duration="1500ms" data-background="{% static 'assets/img/bg/exp-bg.png' %}" style="background-image: url(&quot;assets/img/bg/exp-bg.png&quot;); visibility: visible; animation-duration: 1500ms; animation-delay: 500ms; animation-name: zoomIn;">
				<h3>20</h3>
				<span>Year Of Working
				Experiance</span>
			</div> -->
			<div class="row">
				<div class="col-lg-6 pt-4">
					<div class="bi-about-video-play position-relative  bi-img-animation">
						<!-- <div class="video-play-btn position-absolute">
							<a class="video_box justify-content-center  align-items-center d-flex" href="https://www.youtube.com/watch?v=Nv7RgGpu6ME"><i class="fas fa-play"></i></a>
							<span class="video_btn_border border_wrap-1"></span>
							<span class="video_btn_border border_wrap-2"></span>
							<span class="video_btn_border border_wrap-3"></span>
						</div> -->
						<div class="video-play-img">
							<img src="{% static 'assets/img/about/ab6.jpg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="bi-about-text-quote-area bins-text headline pera-content">
						<p>
							We are proud to serve as a home to some of India’s biggest entertaining shows and through our versatile, and stress-busting content we bring out laugh riots. Backed by originality with a keen eye for detail and technical perfection, we believe in creating and developing content that entertains and offers an enriching experience to our audience. While catering to popular opinion and producing star-studded shows, Suma Filmy Arts is also keen on cultivating fresh, young talent to secure the quality of content in the future, and will be producing films starring debutants.
						</p>
						<!-- <div class="bi-btn-3 text-uppercase wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 400ms; animation-name: none;">
							<a href="about.html">Learn More <img src="{% static 'assets/img/icon/arrow.svg' %}" alt=""></a>
						</div> -->
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!-- about section end-->



<!-- services section start -->

<section id="bi-service-feed" class="bi-service-feed-section inner-page-padding">
	<div class="container">
		<div class="bi-section-title-1 text-center headline pera-content">
			<div class="bi-subtitle text-uppercase wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
				Services
			</div>
			
		</div>
		<div class="bi-service-feed-content">
			<div class="row justify-content-center ">
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/suma-filmy-art-bg1-350x445.png' %}" style="background-image: url(&quot;assets/img/service/fit.png&quot;);"></span>
						<!-- <span class="serial-number position-absolute">01</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-brand"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">TV Commercial</a></h3>
							<p>Whether you’re launching a new product or enhancing your existing brand image, suma flimy arts is an invaluable resource for creating memorable TV commercials..</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/ser2.jpg' %}" style="background-image: url(&quot;assets/img/service/ser2.jpg&quot;);"></span>
						<!-- <span class="serial-number position-absolute">02</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-laptop"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">TV Production</a></h3>
							<p>There is a so much opportunity in tv production, suma filmy arts always exceeds expectations and offers hope for viewers everywhere.</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/ser3.jpg' %}" style="background-image: url(&quot;assets/img/service/ser3.jpg&quot;);"></span>
						<!-- <span class="serial-number position-absolute">03</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-coding"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">Feature Film</a></h3>
							<p>Though there is still much progress to be made when it comes to creating feature films for all audiences, the suma flimy arts has begun to diversify their efforts exponentially in recent years.</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/ser4.jpg' %}" style="background-image: url(&quot;assets/img/service/ser4.jpg&quot;);"></span>
						<!-- <span class="serial-number position-absolute">04</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-4k"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">Web Production</a></h3>
							<p>Our team strives to address every aspect of web production in order to ensure that your vision is reflected effectively and accurately.You can trust suma filmy arts for a reliable and quality web production solution.</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/ser5.jpg' %}" style="background-image: url(&quot;assets/img/service/ser5.jpg&quot;);"></span>
						<!-- <span class="serial-number position-absolute">05</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-surf"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">Events</a></h3>
							<p>With suma flimy arts curating these special film events and patrons being able to watch them from the comfort of their own homes, the possibilities are endless.</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="bi-service-feed-item position-relative">
						<span class="hover_img position-absolute" data-background="{% static 'assets/img/service/ser6.jpg' %}" style="background-image: url(&quot;assets/img/service/ser6.jpg&quot;);"></span>
						<!-- <span class="serial-number position-absolute">06</span> -->
						<div class="service-icon position-relative">
							<i class="flaticon-design-thinking"></i>
						</div>
						<div class="service-text headline pera-content">
							<h3><a href="#">Creative Concepts</a></h3>
							<p>However, it's important to note that creative concepts require more than just effort - the idea must be open-minded and flexible in order to really resonate..</p>
							<!-- <a class="read_more d-flex justify-content-center align-items-center text-uppercase" href="#"><i class="fas fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- services section end-->


<!--video section start-->
<div class="hpt-video-1-area pb-0">
	<div class="hpt-video-1-wrap">
		<div class="hpt-video-1-item">
			<div class="video-1-img">
				<img src="{% static 'assets/img/new_home/video/video-1-main-img-1.png' %}" alt="">
				<div class="multi-img-wrap">
					<div class="multi-img">
						<img class="img-1" src="{% static 'assets/img/new_home/video/video-1-img-1.jpg' %}" alt="">
						<img class="img-1" src="{% static 'assets/img/new_home/video/video-1-img-2.jpg' %}" alt="">
						<img class="img-1" src="{% static 'assets/img/new_home/video/video-1-img-3.jpg' %}" alt="">
					</div>
				</div>
			</div>
			<div class="hpt-video-1-item-btn">
				<a class="play-btn-2 popup-video play_btn_animation popup-video" href="https://www.youtube.com/watch?v=wcciNQ4TyqQ&amp;t=2s">
					<span class="play-btn-2-text">
						play
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Video section end-->

{% endblock %}