{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/Sumafilmyarts-banner-1920x300.png' %}" style="background-image: url(&quot;assets/img/bg/bread-bg.jpg&quot;);">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>News & Events</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li>News & Events</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->


<!--Blog details page section start-->
<section id="bi-blog-feed-3" class="bi-blog-feed-section inner-page-padding">
    <div class="container">
        <div class="bi-blog-feed-content-3">
            <div class="bi-blog-feed-item-3">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/bfd10.png' %}" style="width:100%" alt="">
                        </div>
                        <!-- <div class="blog-meta text-uppercase">
                            <i class="fas fa-calendar-alt"></i> October 6, 2023
                        </div> -->
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="blog-text headline pera-content">
                            <h3 class=""><a href="#">Anchor Suma interacts with stress busters, laugh and enjoy</a></h3>
                            <p class="">Sharing her first video on her official YouTube channel, Telugu popular anchor Suma Kanakala said that there exists a lot of stress in life and many people get frustrated for even small things</p>
                        </div>
                        <div class="blog-author-more d-flex justify-content-between align-items-center flex-wrap ">
                            <div class="blog-author d-flex justify-content-between align-items-center">
                                <!-- <div class="inner-img">
                                    <img src="{% static 'assets/img/testimonial/test-1.jpg' %}" alt="">
                                </div> -->
                                <div class="bi-btn-1  bi-btn-area text-uppercase wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
                                    <a class="bi-btn-main  bi-btn-hover bi-btn-item" href="#" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">  <span></span> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
                           

                            <!-- <div class="blog-more text-uppercase">
                                <a href="#"> Read More <i class="fal fa-long-arrow-right"></i></a>
                            </div> -->
                    </div>
                
                    <!-- <div class="bi-blog-feed-item-3">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/bfd12.png' %}" alt="">
                        </div>
                        <div class="blog-meta text-uppercase">
                            <i class="fas fa-calendar-alt"></i> October 6, 2023
                        </div>
                        <div class="blog-text headline pera-content">
                            <h3><a href="#">UX Checklists for Interface Designers</a></h3>
                            <p>No matter how big your company is, as you expand and reach new highs you’ll want an agency to have your back No matter how . One with a process that has proven</p>
                        </div>
                        <div class="blog-author-more d-flex justify-content-between align-items-center flex-wrap">
                            <div class="blog-author d-flex align-items-center">
                                <div class="inner-img">
                                    <img src="{% static 'assets/img/testimonial/test-1.jpg' %}" alt="">
                                </div>
                                <div class="inner-text">
                                    John Smithson
                                </div>
                            </div>
                            <div class="blog-more text-uppercase">
                                <a href="#"> Read More <i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="bi-blog-feed-item-3">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/bfd13.png' %}" alt="">
                        </div>
                        <div class="blog-meta text-uppercase">
                            <i class="fas fa-calendar-alt"></i> October 6, 2023
                        </div>
                        <div class="blog-text headline pera-content">
                            <h3><a href="#">A Designer’s UI/UX Complete Checklist.</a></h3>
                            <p>No matter how big your company is, as you expand and reach new highs you’ll want an agency to have your back No matter how . One with a process that has proven</p>
                        </div>
                        <div class="blog-author-more d-flex justify-content-between align-items-center flex-wrap">
                            <div class="blog-author d-flex align-items-center">
                                <div class="inner-img">
                                    <img src="{% static 'assets/img/testimonial/test-1.jpg' %}" alt="">
                                </div>
                                <div class="inner-text">
                                    John Smithson
                                </div>
                            </div>
                            <div class="blog-more text-uppercase">
                                <a href="#"> Read More <i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> -->
            <div class="bi-blog-feed-item-3">
            <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-img">
                            <img src="{% static 'assets/img/blog/bfd11.png' %}" style="width:100%" alt="">
                        </div>
                        <!-- <div class="blog-meta text-uppercase">
                            <i class="fas fa-calendar-alt"></i> October 6, 2023
                        </div> -->
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-text headline pera-content">
                            <h3><a href="#">It felt empowering to return to a film set after 25 years: Suma</a></h3>
                            <p>Turn on the television and chances are that if it’s a game show or a pre-release event being telecasted, you’ll see Suma Kanakala’s hosting it. Witty with her repartee and quick on her feet</p>
                        </div>
                        <div class="blog-author-more d-flex justify-content-between align-items-center flex-wrap">
                            <div class="blog-author d-flex align-items-center">
                                <div class="bi-btn-1 bi-btn-area text-uppercase wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
                                    <a class="bi-btn-main bi-btn-hover bi-btn-item" href="https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/it-felt-empowering-to-return-to-a-film-set-after-25-years-suma/articleshow/88477982.cms" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">  <span></span> Read More</a>
                                </div>
                                <!-- <div class="inner-img">
                                    <img src="{% static 'assets/img/testimonial/test-1.jpg' %}" alt="">
                                </div> -->
                                <!-- <div class="inner-text">
                                    John Smithson
                                </div> -->
                            </div>
                            <!-- <div class="blog-more text-uppercase">
                                <a href="#"> Read More <i class="fal fa-long-arrow-right"></i></a>
                            </div> -->
                        </div>
    
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>
<!--Blog details page section end-->

{% endblock %}



