{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
  
<section id="hap-portfolio" class="hap-portfolio-section back-red">
    <div class="container">
        <div class="hap-section-title hap-headline  text-center pera-content">
            <div class="sub-title text-uppercase wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
                Creative studio
            </div>
            <h2 class="text-uppercase headline-title" style="perspective: 400px;"><div style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 375px 41.1406px; transform: translate3d(0px, 0px, 0px); opacity: 1;">Enabling </div><div style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 375px 41.1406px; transform: translate3d(0px, 0px, 0px); opacity: 1;">organizations </div></h2>
        </div>
        <div class="hap-portfolio-content">
            <div class="row justify-content-center">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInUp;">
                    <div class="hap-portfolio-item">
                        <div class="ratio ration 12/9">
                            
                        </div>

                        <div class="ratio ratio-16x9">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zm2haw2o4qc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="hap-portfolio-item">
                        <div class="project-img">
                            
                        </div>

                        <div class="ratio ratio-16x9">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zm2haw2o4qc" frameborder="0" allowfullscreen></iframe>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="hap-portfolio-item">
                        <div class="project-img">
                            
                        </div>

                        <div class="ratio ratio-16x9">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zm2haw2o4qc" frameborder="0" allowfullscreen></iframe>
                        </div>
                        
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>


{% endblock %}