{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
  
<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/portfolio6.png' %}" style="background-image: url(&quot;assets/img/bg/bread-bg.jpg&quot;);">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>Portfolio</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->



<!--portfolio section1 start-->

<section id="bi-team-2" class="bi-team-section-2 position-relative pt-5 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title"> Bhale Chance Le</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/zm2haw2o4qc" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TeShuyMeqP0" title="YouTube video" allowfullscreen></iframe>

                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qq46Xkx7P60" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section1 end -->

<!-- portfolio section2 start -->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title"> F3</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/OkM_aY8gOc4" title="YouTube video" allowfullscreen></iframe>

                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ctMdseKTSv4" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_sJPwIJUKS0" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio section2 end -->


<!-- portfolio section3 start -->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title"> Wife chetilo life </h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/dvIgrEaJtug" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/J4vhngP0Ydc" title="YouTube video" allowfullscreen></iframe>

                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/4CcIO-U5k-M" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio section3 end -->

<!--portfolio section4 start-->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title"> House Of Hungama</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/IZdiCft48r8" title="YouTube video" allowfullscreen></iframe>

                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/dN07RI_blq0" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/anFjR7SKNow" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--portfolio section4 end-->

<!--portfolio section5 start-->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title"> Stressbusters</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Xbxiphd7Xgs" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/dGjepXELE_0" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Xbxiphd7Xgs" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--portfolio section5 end-->

<!--portfolio section6 start-->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title">70+</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3kbLxTTt2M0" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XATThXqlnjs" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/rUSFJl_L_ps" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--portfolio section6 end-->

<!--portfolio section7 start-->
<section id="bi-team-2" class="bi-team-section-2 position-relative pt-2 pb-2">
    <span class="bi-side-shape shape_1 position-absolute"><img src="{% static 'assets/img/bg/shape_7.png' %}" alt=""></span>
    <div class="container">

        <h4 class="text-center portfolio-main-title">Crazy Kitchen</h4>
        
        <div class="bi-team-content-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/C6PoPP8zESg" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/yBSM2S0XooA" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <div class="bi-team-item-2 text-center">
                        <div class="bi-team-img-shape position-relative">
                            <span class="team-shape shape_1 position-absolute"><img src="{% static 'assets/img/icon/tm-shape1.png' %}" alt=""></span>
                            <span class="team-shape shape_2 position-absolute"><img src="{% static 'assets/img/icon/tm-shape2.png' %}" alt=""></span>
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VuaMajDKNrI" title="YouTube video" allowfullscreen></iframe>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--portfolio section7 end-->

<section id="bi-team-2" class="bi-team-section-2 position-relative pb-5">
    <div class="container">

        <h4 class="text-center portfolio-main-title">Hr ft</h4>
        <div class="portfolio-slider7">
            <div class="portfolio-slider7 d-flex justify-content-center align-items-center mt-5">
                <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
                    <iframe class="embed-responsive-item" loading="lazy" width="420" height="350" src="https://www.youtube.com/embed/I89xlGHGFAA" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}