{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section id="bi-breadcrumbs" class="bi-breadcrumb-bg-img bi-bredcrumbs-section position-relative" data-background="{% static 'assets/img/bg/Sumafilmyarts-banner-1920x300.png' %}" style="background-image: url(&quot;assets/img/bg/bread-bg.jpg&quot;);">
    <!-- <div class="background_overlay"></div> -->
    <div class="container">
        <div class="bi-breadcrumbs-content headline ul-li text-center">
            <h2>Sponsorship</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Sponsorship</li>
            </ul>
        </div>
    </div>
</section>

<!--breadcrumb section end-->

<!--Contact page section start-->
<section id="bi-job-apply" class="bi-job-apply-section inner-page-padding">
    <div class="container">
        <div class="bi-section-title-1 bi-section-heading-title text-center headline pera-content">
            <h3 class="headline-title" style="perspective: 400px;"><div style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 425px 40px; transform: translate3d(0px, 0px, 0px); opacity: 1;"> Sponsorships/Ambassadorship Boost your brand image with us!</div></h3>
        </div>
        <div class="bi-team-details-contact-info headline pera-content">
            <div class="bi-team-details-contact-title">
                <div class="bi-team-details-contact-form">
                    <form method="post" class="row g-3 applyform"  id="sponsorshipform" enctype="multipart/form-data"  autocomplete="off">
                        {% csrf_token %}
                       <div class="col-md-6 col-6">
                        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 col-6">
                        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name" required>
                    </div>
                        <div class="col-md-6 col-12">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="col-md-6 col-12">

                            <input type="number" name="phone" class="form-control" id="phone" placeholder="Phonenumber" required>
                        </div>

                        <div class="col-md-6 col-12">
                            <input type="text" name="brand" class="form-control" id="brand" placeholder="Name of Brand/Agency " required>
                        </div>
                        <div class="col-md-6 col-12">
                            <input type="text" name="industry" class="form-control" id="industry" placeholder="Industry" required>
                        </div>
                    
                        <div class="question">
                            <div class="form-group col-md-8">
                                <label for="inputState">What are you looking for</label>
                                <select class="form-control" id="inputState" name="inputState">
                                    <option value="SelectState">-- select -- </option>
                                    <option value="sponcer">Want to Sponsor </option>
                                    <option value="BrandAmbassador">Want a Brand Ambassador</option>        
                                </select>
                              </div>
                              <div class="form-group col-md-8">
                                <label for="inputDistrict">Kind of sponsorship</label>
                                <select class="form-control" id="inputDistrict" name="inputDistrict">
                                    <option value="">-- select -- </option>
                                </select>
                              </div>

                        </div>


                        <!-- <div class="col-12">
                            <input type="text" name="message" class="form-control" id="message"
                                placeholder="Remarks/Questions" required>
                        </div> -->
                        
                        <div id="hide" class="col-lg-8 col-xs-8">
                            <div class="col-12 pt-2">
                                <label for="file" class="custom-file-upload" id="choose-file-label">
                                    Upload file
                                 </label>
                                 <input name="file" type="file" id="file" 
                                    accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" />
                            </div>
                            <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                            <!-- <label class="d-block custom-file-button">
                                <input  name="file" id="file" type="file" class="form-control" required placeholder="Upload Resume"  
                                accept="application/msword,application/msword,application/pdf" style="padding-left: 0px!important;border: none;"/>
                                <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                                <span class="choosefile-sponosor" >Upload a File</span>
                            </label> -->
                        </div>
                       
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha px-3 mb-2" data-sitekey="6LfvVUskAAAAAGlwyp52_FaIJu4vaTuJQ7RiGOJd" required></div>

                        <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                            <button type="submit" id="sponcerid" href="#" class="btn btn-primary form-sub-btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact page section end-->

{% endblock %}